@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #f0f0f9;
}
h1 {
  color: #101010;
  font-size: 32px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  padding: 0;
  color: rgb(97, 98, 100);
  font-size: 14px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}
.weather-app {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  border-radius: 5px;
  background-color: #fff;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 100px auto;
}

.weather-temperature img {
  margin-right: 6px;
  height: 80px;
  width: 80px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  line-height: 1;
  font-size: 64px;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.btn {
  background-color: #6b2aff;
  border: transparent;
}

.btn:hover {
  background-color: #7333c7;
}

.credits {
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 20px;
}

.overview {
  margin-bottom: 20px;
}

.weather-data {
  text-align: center;
  height: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  margin: 30px auto;
}

#pressure,
#humidity,
#wind {
  font-weight: 400;
}

.pressure-container {
  background-color: #fd6660;
  padding-top: 2px;
}

.humidity-container {
  background-color: #6b2aff;
  padding-top: 2px;
}

.wind-container {
  background-color: #63c5f9;
  padding-top: 2px;
}

i {
  padding: 5px;
}

.weather-forecast {
  margin-top: 50px;
  text-align: center;
}

.weather-forecast-date {
  color: rgb(97, 98, 100);
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
}

.weather-forecast span {
  color: rgb(97, 98, 100);
  font-size: 14px;
  text-align: center;
}
.weather-forecast-temp-max {
  font-weight: 100;
}

.weather-forecast-temp-max {
  font-weight: 700;
}
