body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f9;
}
h1 {
  color: rgb(97, 98, 100);
  font-size: 24px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  padding: 0;
  color: rgb(97, 98, 100);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}
.weather-app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  border-radius: 5px;
  background-color: #fff;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-temperature img {
  margin-right: 6px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  line-height: 1;
  font-size: 64px;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
